* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: white;
  padding: 3%;
}
/* Navbar */
.nav {
  background-color: black;
  color: white;
  padding: 30px;

  min-height: 25vh;
}
.logo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
/* main content */
.main-content {
  background-color: black;
  color: white;
  padding: 4%;
}

.main-content > h1 {
  font-size: 4rem;
  width: 30%;
  padding-bottom: 1%;
}
.main-content > p {
  font-size: 1rem;
  width: 20%;
  padding-bottom: 2%;
}

.button-awesome {
  background-color: white;
  color: black;
  border: 1px;
  border: 2px solid black;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700;
}
/* footer */
.footer-container {
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 8%;
  padding-top: 5%;
  align-items: center;
}

.footer-container p {
  width: 50%;
  align-items: center;
  font-size: 0.9rem;
  padding-top: 1%;
}
